@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

/*genral settings*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Roboto, sans-serif;
    line-height: 1.4;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
}
h2{
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.container{
    background: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 17px 10px 17px;
    box-shadow: 2px 2px 3px 0 #ddd, -2px -2px 3px 0 #ddd;
}

:root{
    --primary-color : #4D636F;
    --logo-color : #303E45
}

/*util class*/

.py-1{ padding: 1.5rem 0}
.py-2{ padding: 2rem 0}
.py-3{ padding: 3rem 0}

.px-1{ padding: 0 1.5rem }
.px-2{ padding: 0 2rem }
.px-3{ padding: 0 3rem }

.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}

.margin-bottom-15{
    margin-bottom: .9rem;
}
.margin-bottom-28{
    margin-bottom: 1.8rem;
}
.margin-bottom-20{
    margin-bottom: 1.1rem;
}
.margin-bottom-10{
    margin-bottom: 0.6rem;
}
.margin-top-14{
    margin-top: 0.9rem;
}
.btn{
    width: 85px;
    height: 40px;
    color: white;
    background: #57707D;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}
.btn-cmt{
    width: 120px;
    height: 40px;
    color: white;
    background: #57707D;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}
.btn .fa,btn-cmt .fa{
    color: white;
}
.btn i,.btn-cmt i{
    margin-right: 7px;
}
.btn:hover , .btn-cmt:hover{
    background: #ccc;
    color: black;
    cursor: pointer;
    transition: background .3s;
}
.btn:hover .fa , .btn-cmt:hover .fa{
    color: black;
    transition: background .3s;
}
.btn-grid{
    width: 25%;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*CSS for navbar*/

.navbar{
    display: grid;
    grid-template-columns: 7fr 1fr;
    background: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
/*    padding: .5rem 0;*/
}
.navbar>ul{
    display: grid;
    height: 100%;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1.8fr repeat(4,1fr) 70%;
}
.navbar>ul li{
    text-align: center;
} 
.navbar i{
    padding: 1.15rem .8rem;
    color: #fff;
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
.navbar a{
    padding: 1.15rem .5rem;
    color: #fff;
    width: 100%;
    font-size: 1.2rem;
}
.navbar>ul .special a{
    padding: 0 1rem 0 0;
} 
.navbar a:hover{
    background: #fff;
    color: black;
    transition: background .3s;
}

.navbar ul .special:hover{
    background: #ccc;
    color: black;
    cursor: pointer;
    transition: background .3s;
}
.navbar ul .special:hover i , .navbar ul .special:hover a{
    color: black;
    transition: background .3s;
}
.navbar>div{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}
.navbar .div-account{
    height: 100%;
    width: 100%;
    padding: 12px 15px 8px 15px;
}
.navbar .account{
 2   width: 100%;
    height: 80%;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.navbar .div-account:hover{
    background: #fff;
    transition: background .3s;
}
.logo{
    background: #303E45;
}

/*CSS for Main Content*/

.main-container-left{
    grid-row: 1 / span 2;
}
.main-container-middle{
    grid-row: 1 / span 4;
}
.main-container-right{
    grid-row: 1 / span 2;
}


.main-content{
    display: grid;
    grid-template-columns: 2.3fr 6fr 1.5fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.profile-img{
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-bottom: 1.2rem;
}
.profile .bio{
    padding-top: 1.2rem;
    border-top: 1px solid #ccc;
}
.profile .bio li{
    margin-bottom: .8rem;
    color: #333;
    font-size: 1rem;
}
.profile .bio li span{
    color: var(--primary-color);
    margin-right: 1rem;
}
.extra{
    box-shadow: 2px 2px 3px 0 #ddd, -2px -2px 3px 0 #ddd;
    width: 100%;
    height: 6.052631578%;
}
.my{
    background: #607D8B;
}
.my button{
    border: none;
    background: #607D8B;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 10px  15px;
    text-align: left;
    margin: 0;
}
.my button span{
    margin-right: 1rem;
}
.my button:hover{
    color: black;
    background: #CCCCCC;
    cursor: pointer;
    transition: background .3s;
}
.my button:hover .fa{
    color: black;
    transition: background .3s;
}
.s-block span{
    display: inline-block;
    font-size: 12px;
    padding: 3px 5px;
    margin-bottom: 3px;
}
.s1{
    background: #303E45;
}
.s2{
    background: #435761;
}
.s3{
    background: #4D636F;
}
.s4{
    background: #57707D;
}
.s5{
    background: #57707D;
}
.s6{
    background: #607D8B;
}
.s7{
    background: #7D97A5;
}
.s8{
    background: #9EB1BB;
}
.s9{
    background: #BECBD2;
}
.s10{
    background: #DFE5E8;
}
.s11{
    background: #F5F7F8;
}
.main-content .ignore{
    padding-top: 0;
    background: #DFE5E8;
}
.ignore>div{
    display: grid;
    grid-template-columns: 89% 11%;
}
.hey{
    padding-top: 20px;
    font-weight: bold;
}
.cancel{
    width:47px;
    border-top-right-radius: 5px;
    font-weight: 900;
    height: 38px;
    background: #BECBD2;
    line-height: 38px;
    text-align: center;
}
.cancel:hover,
.info-div:hover{
    transition: background .3s;
    background: #ccc;
    cursor: pointer;
}
.status{
    box-sizing: border-box;
    width: 100%;}
.status p{
    font-weight: 100;
    color: #838383;
}
.status input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 15px;
}
.jd-profile{
    display: grid;
    grid-template-columns: 1fr 2fr 7fr;
}
.jd-profile>p{
    text-align: right;
}
.jd-profile>span{
    padding-top: 12px;
    font-size: 1.4rem;
}
.pic{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
}
.p{
    border-top: 1px solid #ccc;
    padding-top: 1.5rem;
}
.tp-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.upcoming-events{
    text-align: center;
}
.info-div{
    width: 100%;
    padding: 5px 0; 
    text-align: center;
    background: #BECBD2;
}
.request{
    text-align: center;
}
.friend{
    width: 95px;
    height: 95px;
    margin: 0 auto;
}
.accept-dismiss{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.accept{
    background: #94CF96;
    padding: .5rem 0;
}
.dismiss{
    background: #F88E86;
    padding: .5rem 0;
}
.accept-dismiss .fa{
    color: white;
}
.hover:hover{
    background: #F1F3F4;
    cursor: pointer;
    transition: background .3s;
}
.hover:hover .fa{
    color: #666666;
    transition: background .3s;
}
.ad,.bug{
    text-align: center;
    padding: 2rem 0;
}


@media(max-width: 800px){
    .navbar>ul{
        height: 100%;
        justify-content: center;
        align-content: center;
        grid-template-columns: 3fr repeat(4,1fr) 0;
    }
    .ignore{
        display: none;
    }
    .main-content{
        display: block;
/*        grid-gap: 1rem;*/
        padding: 1rem 1.5rem;
    }   
    .jd-profile{
        grid-template-columns: 1fr 4fr 5fr;
    }
    .jd-profile>span{
        padding-top: 12px;
        font-size: 1.4rem;
        margin-left: 10px;
    }
}

@media(max-width: 550px){
  
    .navbar{
/*       grid-template-columns: 1fr 0; */
    }
    .navbar>ul{
        height: 100%;
        justify-content: center;
        align-content: center;
        grid-template-columns: 3fr repeat(4,2fr) 0;
    }
    .ignore{
        display: none;
    }
    .main-content{
        display: block;
/*        grid-gap: 1rem;*/
        padding: 1rem 1.5rem;
    }   
    .jd-profile{
        grid-template-columns: 1fr 4fr 5fr;
    }
    .jd-profile>span{
        padding-top: 12px;
        font-size: 1.4rem;
        margin-left: 10px;
    }
}
